.login-page-body {
    background-image: url('../images/chair2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    display: grid;
    place-items: center;
}  